{% extends 'KitpagesCompanyBundle::layout-admin.html.twig' %}

{% block admin_body %}

<h1>{{ "Companies" | trans }}
</h1>

<div class="kitpages-company-list-default">
    <a class="btn-standard" href="{{ path('kitpages_company_admin_company_create' )}}">{{ "create" | trans }}</a><br /><br />
{% embed 'KitpagesDataGridBundle:Grid:grid.html.twig' with {'grid': grid} %}
    {% block kit_grid_filter %}
    {% endblock %}
    {% block kit_grid_thead %}
    <thead>
    <tr>
        <th colspan="50" class="kit-grid-thead-filter">
            <form action="{{ grid.requestUri }}" id="{{grid.filterFormName}}_form" method="GET">
                <label for="{{grid.filterFormName}}">{{ "Search" | trans }}</label>
                <input type="text" name="{{grid.filterFormName}}" id="{{grid.filterFormName}}" size="10" value="{{ grid.filterValue }}"/>
                <button type="submit" class="btn-standard">{{ 'Search'|trans() }}</button>
                <a href="{{ grid.requestUri }}" id="{{grid.filterFormName}}_reset_button">Reset</a>
            </form>
        </th>
    </tr>
    <tr class="kitpages-company-list-default-space">
        <th colspan="50">
        </th>
    </tr>
    <tr>
        {% for field in grid.gridConfig.fieldList %}
            {% if field.visible %}
                <th>{{ field.label | trans }}</th>
            {% endif %}
        {% endfor %}
        <th>Action</th>
    </tr>
    </thead>
    {% endblock %}

    {% block kit_grid_thead_column %}
        <th>Action</th>
    {% endblock %}

    {% block kit_grid_tbody_column %}
        <td class="app-admin-list-default-col-action" >
            <a class="btn-standard" href="{{ path ("kitpages_company_admin_company_edit", {"id": item.id}) }}">{{ "Edit" | trans }}</a>
            <a class="btn-standard" href="{{ path ("kitpages_company_admin_company_list_user", {"companyId": item.id}) }}">{{ "List user" | trans }}</a>
        </td>
    {% endblock %}


{% endembed %}
</div>

{% endblock admin_body %}
