{% extends '::admin.html.twig' %}

{% block admin_body %}
{% form_theme form theme %}
<h1><a class="kitpages-company-link-breadcrumb" href="{{ path ("kitpages_company_admin_company_list_user", {"companyId": form.vars.value.company.id}) }}">{{form.vars.value.company.name}}</a> > {{ form.vars.value.username}}</h1>
<div class="kitpages-company-form-default">
<form {{ form_enctype(form) }} method="POST" class="fos_user_profile_edit">
    {{ form_widget(form) }}
    <div>
        <button type="submit" class="btn-standard" >{{ 'profile.edit.submit'|trans({}, 'FOSUserBundle') }}</button>
    </div>
</form>
</div>
{% endblock admin_body %}
