{% extends "FOSUserBundle::layout.html.twig" %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('js/helpInputInline.js') }}"></script>
{% endblock %}

{% block fos_user_content %}
<div class="app-user-connexion">
    <form action="{{ path("fos_user_security_check") }}" method="post" id="login">
        <div>
            <h2>{{ "My space" | trans }}</h2>
            <p>{{ "Please sign in to access to your space" | trans }}</p>
            {% if error %}
                <div class="error">{{ error }}</div>
            {% endif %}
            <div>
                <input class="help-input-inline" type="text" id="username" name="_username" value="{{ 'security.login.username.input'|trans({}, 'FOSUserBundle') }}" /><br />
                <input class="help-input-inline" type="password" value="{{ 'security.login.password.input'|trans({}, 'FOSUserBundle') }}"  id="password" name="_password" >


                <div>
                    <input type="checkbox" id="remember_me" name="_remember_me" checked />
                    <label for="remember_me">{{ 'security.login.remember_me'|trans({}, 'FOSUserBundle') }}</label>
                </div>
                <div>
                    <a href="{{ path('fos_user_resetting_request') }}">{{ 'Forgotten Password'|trans({}, 'FOSUserBundle') }}</a>
                </div>
            </div>
        </div>
        <hr />

        <input type="hidden" name="_target_path" value="{{targetPath|default('')}}"/>
        <button type="submit" class="app-user-connexion-submit btn-standard btn-picto-arrow">{{ 'Validate'|trans() }}</button>
    </form>
</div>

{% endblock %}
