<div class="fos_user_user_show">
    <p>{{ 'fos_user_profile_form_user_username'|trans({}, 'FOSUserBundle') }} {{ user.username }}</p>
    <p>{{ 'fos_user_profile_form_user_email'|trans({}, 'FOSUserBundle') }} {{ user.email }}</p>
    <p>{{ 'fos_user_profile_form_user_firstname'|trans({}, 'FOSUserBundle') }} {{ user.firstname }}</p>
    <p>{{ 'fos_user_profile_form_user_lastname'|trans({}, 'FOSUserBundle') }} {{ user.lastname }}</p>
    <p>{{ 'fos_user_profile_form_user_phone'|trans({}, 'FOSUserBundle') }} {{ user.phone }}</p>
</div>
